name: CI/CD for development environment (FE)

on:
  push:
    branches:
      - main
    tags:
      - '*'
  # pull_request:
  #   branches:
  #     - develop

env:
  REPOSITORY_NAME: repository-k8s.sotaicg.com
  PROJECT_NAME: test
  TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Import Secrets
          id: import-secrets
          uses: hashicorp/vault-action@v2
          with:
            url: https://vault.sotaicg.com
            caCertificate: ${{ secrets.VAULT_CA_CERT }}
            method: approle
            roleId: ${{ secrets.VAULT_ROLE_ID }}
            secretId: ${{ secrets.VAULT_SECRET_ID }}
            tlsSkipVerify: true
            secrets: |
              develop/data/backend REDIS_PORT | REDIS_PORT
        - name: Step following 'Import Secrets'
          run: |
            touch secrets.json
            echo '${{ toJson(steps.import-secrets.outputs) }}' >> secrets.json
            cat secrets.json
