name: CI/CD for development environment (FE)

on:
  push:
    branches:
      - main
    tags:
      - '*'

env:
  REPOSITORY_NAME: repository-k8s.sotaicg.com
  PROJECT_NAME: test
  TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Import Secrets
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: https://vault.sotaicg.com
          caCertificate: ${{ secrets.VAULT_CA_CERT }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          tlsSkipVerify: true
          secrets: |
            develop/data/backend *

      - name: Process Secrets and Create .env.production
        run: |
          # Create an empty .env.production file
          touch .env.production

          # Process and write secrets to .env.production
          for secret in $(echo "${{ steps.import-secrets.outputs.secrets }}" | jq -r 'keys[]'); do
            value=$(echo "${{ steps.import-secrets.outputs.secrets }}" | jq -r ".[\"$secret\"]")
            echo "$secret=$value" >> .env.production
          done
