name: CI/CD for development environment (FE)

on:
  push:
    branches:
      - main
    tags:
      - '*'

env:
  REPOSITORY_NAME: repository-k8s.sotaicg.com
  PROJECT_NAME: test
  TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Import Secrets
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: https://vault.sotaicg.com
          caCertificate: ${{ secrets.VAULT_CA_CERT }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          tlsSkipVerify: true
          secrets: |
              develop/data/backend REPOSITORY_USERNAME
              develop/data/backend REPOSITORY_PASSWORD


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: http://registry.sotaicg.com/
          username: ${{ env.REPOSITORY_USERNAME }}
          password: ${{ env.REPOSITORY_PASSWORD }}
          logout: false
          
      - name: Step following 'Import Secrets'
        run: |
          touch secrets.txt
          echo '${{ toJson(steps.import-secrets.outputs) }}' >> secrets.json

      - name: Cat
        run: cat secrets.txt

